node_modules
.next
.env*
.git
.vscode
app
public
*.md
*.json
!requirements.txt
!knowledge/*.json
tsconfig.json
next.config.ts
next-env.d.ts
postcss.config.mjs
eslint.config.mjs
package.json
package-lock.json
